@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-secondary-900 bg-secondary-50 font-sans transition-colors duration-200 dark:bg-secondary-950 dark:text-secondary-50;
  }
}